.element__like {
    width: 21px;
    height: 19px;
    align-self: center;
    margin-left: 35px;
    cursor: pointer;
    background: transparent;
    background-repeat: no-repeat;
    border: 0;
    background-image: url(../../../images/elements/like.svg);
}

.element__like:hover {
    opacity: 0.5;
}

.element__like:active {
    opacity: 1; 
    background-image: url(../../../images/elements/like-dark.svg);
}