.element__like {
    width: 21px;
    height: 19px;
    align-self: center;
    margin-left: 35px;
    cursor: pointer;
    border: none;
    outline: none;
    background: url(../../../images/elements/like.svg) no-repeat transparent;
    background-size: contain;
}

.element__like:hover {
    opacity: 0.5;
}

.element__like:active {
    background: url(../../../images/elements/like-dark.svg) no-repeat transparent;
    opacity: 1;
    border: none;
    outline: none;
    background-size: contain;
}