.profile__add-button {
    max-width: 150px;
    width: 100%;
    height: auto;
    font-size: 42px;
    color: #fff;
    background-color: #000;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    align-self: center;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1279px) {
    .profile__add-button {
        max-width: 100px;
        font-size: 32px;
   } 
}

@media screen and (max-width: 900px) {
    .profile__add-button {
        max-width: 80px;
        font-size: 28px;
   } 
}

@media screen and (max-width: 760px) {
    .profile__add-button {
        min-width: 282px;
        min-height: 50px;
        font-size: 40px;
   } 
}