.popup__close {
    position: absolute;
    left: 100%;
    right: 0;
    top: -40px;
    width: 40px;
    height: 40px;
    transform: rotate(90deg);
    cursor: pointer;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px) {

    .popup__close {
        left: 87%;
    }

  }