.profile__avatar {
    max-width: 120px;
    width: 100%;
    height: auto;
    border-radius: 100%;
    margin-right: 20px;
}

@media screen and (max-width: 760px) {
    .profile__avatar {
        margin: 0 auto;
        max-width: 150px;
   } 
}

@media screen and (max-width: 320px) {
    .profile__avatar {
        max-width: 120px;
   } 
}