.profile__info {
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) auto;
    grid-template-rows: 39px 18px;
    grid-row-gap: 16px;
    grid-column-gap: 20px;
    align-self: center;
    grid-template-areas:
    "title button"
    "subtitle subtitle";
}
