.footer {
    margin: 0 auto;
    max-width: 68.75%;
    width: 100%;
    padding: 85px 0 16px;
}



@media screen and (max-width: 320px) {
    .footer {
        max-width: 88.1%;
        margin-left: 16px;
        padding: 48px 0 36px;
    }
}